.g-img-container {
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 180px;
    gap: 0.5rem;
    flex-wrap: nowrap;
    margin: 2rem;
}

.img-div {
    width: 100px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

.img-div img {
    width: 100%;
    height: 100%;
}


.img-div:hover {
    width: 300px;
    margin-right: 10px;
}


.display-img {
    display: none;
    width: 60%;
    margin: 2rem auto;
    position: relative;
}

.display {
    width: 100%;

}

.closebtn {
    cursor: pointer;
    font-size: 1.05rem;
    padding: 1px 5px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    top: -3.5%;
    right: -1.5%;
    border-radius: 70%;
    background: #ee0404de;
}

#imgtext {
    position: absolute;
    bottom: 1rem;
    color: #fff;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px #ffffff73;
}